<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLibrary</title>
    <link rel="icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" href="/static/css/style_cover.css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #333;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }
    </style>
</head>

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">문제 도서관</h1>
            <p class="lead">최고가 되기한 자가학습 사이트<br><small class="text-muted">컴퓨터 학부생을 위한 기출문제와 해설, 개념 이해</small>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p class="lead">
                    <a href="/index" class="btn btn-secondary mt-4 mb-5">접속하기</a>
                </p>
                <p>운영시간: 아직 안 해요</p>
                <p>by <a href="https://blog.naver.com/dsz08082">@Neltia</a></p>
                <!--
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                        href="https://twitter.com/mdo">@mdo</a>.</p>
                -->
            </div>
        </footer>
    </div>
</body>

</html>