{% extends "base.html" %}
{% block content %}
<div class="main">
    <div class="container">
        {% include "nav.html" %}
        <br>
        <div class="row justify-content-center">
            <form class="form-inline md-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn aqua-gradient btn-sm" type="submit">Search</button>

                {% if session['logged_in'] %}
                <a href="{{url_for('board.board_write')}}">
                    <button type="button" class="btn btn-outline-dark btn-sm rounded-pill">
                        <i class="fas fa-pen fa-2x"></i>
                    </button>
                </a>
                {% endif %}
            </form>
        </div>
        <div class="row mt-2">
            <table class="table table-sm table-borered" style="table-layout:fixed">
                <thead class="table-warning text-center">
                    <tr>
                        <th>#</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>일자</th>
                    </tr>
                </thead>

                <tbody class="table-hover text-center">
                    <tr>
                        <td></td>
                        <td class="text-left" width="150" height="30" style="text-overflow:ellipsis; overflow:hidden; white-space: nowrap;">                        <a class="text-reset"></a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
