{% extends "base.html" %}
{% block content %}
	<div class="main">
		<div class="container">
			{% include "nav.html" %}
			{% if not session['logged_in'] %}
				<!--Grid row-->
				<div class="row d-flex justify-content-center">
				  <!--Grid column-->
				  <div class="col-md-6">
					{% if msg %}
					<div class="alert alert-danger mt-2" role="alert">
						<i class="fa fa-exclamation-triangle"></i>
						&ensp;{{ msg }}
					</div>
					{% else %}
					<div class="alert alert-light mt-2" role="alert">
						<i class="fas fa-address-card"></i>
						&ensp;Let's Sign In!
					</div>
					{% endif %}
					<div class="card mt-3">
						<!-- Card header -->
						<div class="card-header alert-warning">
						  <p class="h4 text-center py-4">Sign in</p>
						</div>
			  
						<!-- Card body -->
						<div class="card-body">
							<!-- Material form register -->
							<form action="" method="POST">
								<!-- Material input email -->
								<div class="md-form">
								<i class="fa fa-envelope prefix grey-text"></i>
								<input type="email" id="materialFormCardEmailEx" name="email" class="form-control">
								<label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
								</div>
					  
								<!-- Material input password -->
								<div class="md-form">
								<i class="fa fa-lock prefix grey-text"></i>
								<input type="password" id="materialFormCardPasswordEx" name="pass" class="form-control">
								<label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
								</div>
			  
								<div class="text-center py-4 mt-3">
								<button class="btn btn-cyan" type="submit">로그인</button>
								</div>
								<p class="text-center">Not a member?
									<a href="{{ url_for('member.member_new') }}">Register</a>
								</p>
							</form>
						  <!-- Material form register -->
						</div>
						<!-- Card body -->
					  </div>
					  <!-- Card -->
				  </div>
				  <!--Grid column-->
				</div>
				<!--Grid row-->
			{% endif %}
		</div>
	</div>
{% endblock %}
