<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('page.page_main') }}">
            <img src="/static/images/favicon.png" height="30"/><strong> CBTtalk</strong>
        </a>

        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#myNavbar"
            aria-controls="myNavbar"
            aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>

        <div class="navbar-collapse collapse font-weight-bold" id="myNavbar">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link acitive" href="/set">문제풀기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/note">핵심노트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('board.board_main') }}">질의응답</a>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Right links -->
            <hr class="d-flex w-auto" color="gray">
            <ul class="nav navbar-nav">
                {% if session['logged_in'] %}
                <li class="nav-item">
                    <a class="nav-link" href="/index">
                        <i class="fas fa-user-alt"></i> 내 정보
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('member.member_logout') }}">
                        <i class="fas fa-door-closed"></i> 로그아웃
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('member.member_new') }}">
                        <i class="oi oi-account-login"></i> 회원가입
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('member.member_login') }}">
                        <i class="oi oi-person"></i> 로그인
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- Right links -->
        </div>
    </div>
</nav>
