{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#content").summernote({
            lang: 'ko-KR',
            focus: true,
            height: 400,
            minHeight: null,
            maxHeight: null,
            
            callbacks: {
                onImageUpload: function(image) {
                    for(let i=0; i < image.length; i++) {
                        uploadImage(image[i]);
                    }
                }
            }
        });
    });

    function uploadImage(image) {
        var data = new FormData();
        data.append("image", image);
        $.ajax({
            url: "{{url_for('board.upload_image')}}",
            cache: false, // cache 가 true 이면 캐싱된 데이터로 처리될 수 있어 데이터 전송이 되지 않을수 있어 false
            contentType: false, // 기본값이 application/x-www-form-urlencoded 인데 파일전송시에는 multipart/form-data 로 보내야 하기 때문에 false
            processData: false, //POST 형태의 데이터를 전달할때는 query string 형태의 GET 방식으로 보내면 안되기 때문에 false
            data: data,
            type: "post",
            success: function(url) {
                var image = $('<img>').attr({
                    'src' : url,
                    'class' : "img-fluid"});
                $('#content').summernote("insertNode", image[0]);
            },
            error: function(data) {
                alert(data);
            }
        });
    }
</script>

<div class="main">
    <div class="container">
        {% include "nav.html" %}
        
        <div class="shadow p-3 mt-3 mb-3 bg-white rounded">
            <table class="table table-sm table-borderless">
                <form name="form" method="POST" action="/board/write" enctype="multipart/form-data">
                    <tbody>
                        <tr>
                            <td>
                                <div class="md-form">
                                    <input type="text" id="title" name="title" class="form-control">
                                    <label for="title" class="h3">Q. 제목</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ form.content(_id="content") }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <input type="submit" class="btn btn-outline-dark btn-sm" value="Submit">
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}